*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 0;
}

/* anton-regular - latin_latin-ext_vietnamese */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Anton';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/anton-v26-latin_latin-ext_vietnamese-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
	display: block;
	background-color: #222;
	height: 100dvh;
	width: 100dvw;
	overflow: hidden;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

canvas {
	display: block;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	background-color: black;
	width: 100%;
	height: 100vh;
}

.ui-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	background-image: url('./image-resource/background.webp');
	background-size: cover;
	display: grid;
	place-items: center;
}

.room-wrapper {
	background-color: var(--card-bg);
	border-radius: 14px;
	width: 1300px;
	height: 700px;
	display: flex;
	gap: 13px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
	clip-path: polygon(0% 0%, 10% 0%, 12% 1%, 88% 1%, 90% 0%, 100% 0%, 100% 100%, 0 100%);
	padding-top: 40px;
	padding-inline: 10px;
	padding-bottom: 10px;
}

:root {
	--primary: #1a6ebd;
	--accent: #3ea0ff;
	--accent-2: #26b4f0;
	--ready: #4dc051;
	--right-box-color: #009ca6;
	--not-ready: #555555;
	--modal-bg: rgba(0, 0, 0, 0.6);
	--card-bg: rgb(228, 228, 228);

	--darkest-blue: #075aa9;
}

.room-left {
	flex: 5;
	display: flex;
	flex-direction: column;
	gap: 15px;
	background-color: var(--accent-2);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6), 1px 1px 5px rgba(0, 0, 0, 0.6);
	padding: 20px;
	border-radius: 10px;
}

.room-info {
	display: flex;
	justify-content: space-between;
}
.room-id {
	display: block;
	color: white;
}
.room-id::before {
	font-size: 13px;
	font-weight: bold;
	content: 'Mã room: ';
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.75), 0 0 5px #1a6ebd;
}
.room-id::after {
	font-size: 13px;
	font-weight: bold;
	content: attr(room-id);
	display: inline-block;
	padding: 5px 10px;
	background-color: var(--primary);
	border-radius: 5px;
	margin-left: 3px;
	min-width: 40px;
	text-align: center;
}

.team {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 7px;
}

/* Player slot shadow */
.player-slot-wrapper {
	position: relative;
}
.player-slot-wrapper::before {
	/* Đổ bóng dưới player slot */
	content: '';
	clip-path: polygon(
		0% 0%,
		24% 0%,
		30% 2%,
		70% 2%,
		76% 0%,
		100% 0%,
		100% 100%,
		76% 100%,
		70% 98%,
		30% 98%,
		24% 100%,
		0% 100%
	);
	position: absolute;
	left: 0;
	top: 2px;
	width: calc(100% + 1.5px);
	height: 100%;
	background: linear-gradient(90deg, #0c579d, #07539a, #05529a);
	border-radius: 0px 5px 5px 5px;
	opacity: 0.8;
}
.player-slot-wrapper::after {
	/* Đổ bóng phải player slot */
	width: 3px;
	height: calc(100% - 1.1px);
	content: '';
	background: linear-gradient(to bottom, var(--accent), #0e73b8, var(--primary), var(--primary), #05529a);
	background-color: var(--primary);
	position: absolute;
	right: -1.5px;
	border-radius: 0 15px 15px 0;
	top: 2px;
	opacity: 0.8;
}

/* Player slot */
.player-slot {
	background: linear-gradient(to bottom, #2dacec, #0e73b8);
	color: white;
	clip-path: polygon(
		0% 0%,
		24% 0%,
		30% 2%,
		70% 2%,
		76% 0%,
		100% 0%,
		100% 100%,
		76% 100%,
		70% 98%,
		30% 98%,
		24% 100%,
		0% 100%
	);
	height: 275px;
	padding: 10px;
	padding-top: 20px;
	position: relative;
	z-index: 1;
	border-radius: 5px;
}
.player-slot::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
	pointer-events: none;
	z-index: -1;
	border-radius: 5px;
}
.player-slot:empty {
	cursor: pointer;
}
.player-slot:empty::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	display: block;
	width: 100%;
	height: 100%;
	background-image: url('./image-resource/wait-label.webp');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75%;
}

.player-slot .avatar {
	width: 100%;
	aspect-ratio: 1;
	background-size: cover;
	background-position: center;
	margin-bottom: 5px;
	background-image: url('./image-resource/default-avatars/0.png');
}
.player-slot .avatar[data-id='2'] {
	background-image: url('./image-resource/default-avatars/1.png');
}

.player-slot .name {
	font-size: 13.5px;
	width: 100%;
	background-color: var(--darkest-blue);
	padding: 4px 10px;
	border-radius: 15px;
	line-height: 1.5;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	overflow: hidden;

	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
}

.player-slot .status {
	font-size: 12px;
	padding: 5px;
	border-radius: 20px;
	background-color: var(--not-ready);
	color: white;
	text-align: center;
	position: absolute;
	bottom: 15px;
	width: 90%;
	left: 50%;
	transform: translateX(-50%);
	text-transform: uppercase;
	font-weight: 900;
}
.player-slot .status::after {
	content: 'Đợi...';
}
.player-slot .status.ready {
	background-color: var(--ready);
}
.player-slot .status.ready::after {
	content: 'Sẵn Sàng';
}

/* Room right layout */
.room-right {
	flex: 2.5;
	display: block;
	padding: 10px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6), 1px 1px 5px rgba(0, 0, 0, 0.6);
	border-radius: 15px;
	align-self: flex-end;
	text-align: center;
}

.choose-wrapper {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-bottom: 15px;
}

.map-display {
	flex: calc(4 / 3);
	height: 100%;
	aspect-ratio: 4 / 3;
	background-color: #eee;
	box-shadow: 0 0 7px #333, 0 1px 7px #333;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.map-display img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.tank-display {
	flex: 1;
	height: 100%;
	aspect-ratio: 1;
	background-color: var(--not-ready);
	border-radius: 10px;
	overflow: hidden;
	display: grid;
	place-items: center;
	position: relative;
	cursor: pointer;
}
.tank-display img {
	width: 85%;
	height: 85%;
	object-fit: cover;
	transform: rotate(90deg);
	position: absolute;
}

#ready-btn {
	height: fit-content;
	width: 60%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-weight: bolder;
	font-size: 15px;
	cursor: pointer;
	background-color: var(--primary);
	color: rgb(214, 255, 212);
	text-transform: uppercase;
	box-shadow: 0 0 7px var(--darkest-blue);
	border: 2px solid var(--darkest-blue);
}
#ready-btn.cancel {
	background-color: var(--not-ready);
	box-shadow: 0 0 7px #222;
	border: 2px solid #555;
}
#ready-btn::before {
	content: 'Sẵn sàng';
}
#ready-btn.cancel::before {
	content: 'Hủy';
}

/* Modal styles */
.modal-overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	cursor: pointer;

	/* display: none; */
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #1f1b2e;
	border: 2px solid #5f4bb6;
	border-radius: 10px;
	padding: 20px;
	z-index: 1000;
	box-shadow: 0 0 20px rgba(95, 75, 182, 0.6);
	width: 60%;
	height: 90%;
	overflow-y: auto;

	/* display: none; */
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
}

/* Nội dung lưới */
.modal-content .grid {
	display: grid;
	gap: 12px;
}

/* Modal map: 3 item/row */
.modal-map .grid-3 {
	grid-template-columns: repeat(3, 1fr);
}

/* Modal tank: 5 item/row */
.modal-tank .grid-5 {
	grid-template-columns: repeat(5, 1fr);
}

/* Item chung */
.grid-item {
	background-color: #2c2640;
	aspect-ratio: 4 / 3; /* default là 4/3 */
	overflow: hidden;
	border-radius: 8px;
	cursor: pointer;
	border: 2px solid transparent;
	transition: border-color 0.2s ease;
	display: block;
}

.modal-tank .grid-item {
	aspect-ratio: 1 / 1; /* override cho modal tank */
	transform: rotate(90deg);
	display: grid;
	position: relative;
	place-items: center;
}

.grid-item:hover {
	border-color: #8c7ae6;
}

/* Ảnh phủ kín item */
.grid-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.modal-tank .grid-item img {
	width: 90%;
	height: 90%;
	position: absolute;
}

/* Checkbox mở modal (toggle) */
#modal-map-toggle:checked ~ .modal-overlay:nth-of-type(1),
#modal-map-toggle:checked ~ .modal-map,
#modal-tank-toggle:checked ~ .modal-overlay:nth-of-type(2),
#modal-tank-toggle:checked ~ .modal-tank {
	/* display: block; */
	opacity: 1;
	pointer-events: all;
}
